* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 15px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #171616;
}

.container {
  width: 1100px;
  margin: auto;
  
}

/* Navbar */

.navbar {
  width: 1100px;
  height: 60px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 125px;
  height: 25px;
 
}

.navbar .logo img {
  width: 115px;
  height: 25px;
}

.navbar .nav-links ul {
  display: flex;
  margin-right: 500px;
}

.navbar .nav-links ul li {
  padding: 8px;
  font-size: 13px;
}

.navbar .icons {
  margin-right: 10px;
  display: flex;
}

.navbar .icons img {
  height: 20px;
  margin: 5px;
}

/* Main content */

/* laptop */
.main-laptop{
    height: 400px;
    width: 100%;
    background: url("https://i.ibb.co/zGSDGCL/slide1.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.main-laptop .text{
    margin-top: 70px;
}

.main-laptop .btn{
    height: 40px;
    width: 130px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #171616;
    color: white;
    font-size: 15px;
    font-weight: bold;
}


/* cards */

.cards{
    display: flex;
    padding-top: 20px;
    padding-right: 18px;
    justify-content: space-between;
    width: 1100px;
}

.card{
    width: 15rem;
}

.card .card-title{
    width: 17rem;
    padding-top: 15px;
}

.card .card-text{
    width: 16rem;
    padding-top: 10px;
    padding-bottom: 12px;
}

.card-img-top{
    width: 16rem;
}

.card .learn{
    color: #3d71f5;
    font-size: 18px;
    font-weight: bold;
}

/* Xbox */
.xbox{
    height: 350px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    background: url("https://i.ibb.co/tBJGPD9/xbox.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

.xbox .xbox-text{
    height: 100px;
    width: 400px;
    margin-left: 30px;
    margin-bottom: 90px;
}

.xbox .xbox-text p{
    margin-top: 15px;
}

.xbox .xbox-text .btn{
    height: 40px;
    width: 130px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #373636;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
 /* Article */
.article{
 height: 300px;
 width: 100%;
 margin-top: 60px;
 background: url("https://i.ibb.co/72cgtsz/carbon.jpg");
 background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.article .article-text{
    color: #fff;
    width: 540px;
    margin-left: 60px;
    margin-top: 80px;
}

.article .article-text p{
    margin-top: 10px;
}

.article .article-text .btn{
    height: 40px;
    width: 130px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #fff;
    color: #171616;
    font-size: 15px;
    font-weight: bold;
}


/* Socials */

.social{
    height: 6rem;
    display: flex;
    padding-top: 30px;
}

.social span{
padding-top: 5px;
}

.social  img{
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;   
}

/* Footer */

footer{
    background-color: #ededed;
    font-size: 13px;
    height:420px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
}

.footer-details{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    line-height: 2rem;
    margin-right:25px;
}

.footer-details ul{
    padding: 30px;

}

.footer-details ul h3{
 color: #595959;
}

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   margin: 0px 12rem;
   font-size: 13px;
}

.footer-copyright .web{
    display: flex;
}

.footer-copyright .web img{
    height: 20px;
    padding-right: 10px;
}

.footer-copyright ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-copyright ul li{
    padding: 10px;
}

